@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Wendy+One');

.navbar.navbar-inverse {
border-radius: 0;
box-shadow: 0px 1px 3px #2a2a2a;
margin-bottom:0;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
  max-height: 450px;
  width: 100%;
} 

.carousel-caption {
  font-size: 20px;
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  font-weight: 100;
  text-shadow:rgba(0,0,0,0.95) 2px 2px;
  background-color: rgba(0,0,0,0.45);
  width: 100%;
  position: absolute;
  left:0;
}

.carousel {
  box-shadow: 0px 3px 8px #2a2a2a;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background-color: rgba(0,0,0,0.45);
  border: 1px solid #ccc;
  border-color: #8c8c8c #8c8c8c #8c8c8c #8c8c8c;
  border-radius: 4px;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
}

.pagstyle {
  border: 2px solid;
  border-radius: 7.5px;
  padding: 5px;
  margin: 2px;
}  

.description {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  color: #ffffff;
}

.authlogo a {
color: #f0c078;  
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1  a {
  color: #f0c078;
}

h1 {
 color: #f0c078; 
}

h2 {
 color: #f0c078; 
}

h2 a {
  color: #f0c078;
}


body {
  background: url('/assets/muffin.jpg') no-repeat center center fixed;
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #ffffff;
}

.navbar-inverse .navbar-brand {
  color: #f0c078;
  font-family: 'Wendy One', sans-serif;
  font-size: 26px;  
}

.aboutBakedNoms {
  color: #f0c078;
  font-family: 'Wendy One', sans-serif;
  font-size: 46px;
}

.navbar-inverse .navbar-nav > li > a {
  color: #90c0c0;
}

.searchbox {
  border: 1px solid;
  border-color: #cccccc;
  border-radius: 4px; 
  height: 34px;
  margin-top: 10px;
  color: #000000;
}

.submitbox {
  margin-top: 10px;
}

@media (max-width: 480px) { 
}

.has-error {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius:3px;
  padding: 8px;
}

img {
  width: 100%;
}

.uslogo {
width: no-repeat center center fixed;
}

#email {
  word-wrap: break-word;
}


#map {
  height: 300px;
  
}

.clear {
  clear: both;
}

blockquote {
  background: #ffffff;
  border-left: 10px solid #ccc;
  border-radius: 4px;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  color: #000000;
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}



