<div class="booyah-box col-xs-10 col-xs-offset-1">
  <h1 class= "description ">
    About  
    <span class="aboutBakedNoms">Baked Noms </span>
  </h1> 
  
  <br/>

    <p class="description text-justify">
    If you are bold enough to admit that you have a sweet tooth and will-without prompting-recommend your favorite spot to someone then Baked Noms is for you. Here you can add your go-to Baked Noms and describe in your own words why it's worth mentioning.   
    </p>

  <br/>
  <br/>
  <br/>

    <p>
      <span>
        <%= link_to 'http://smithsaintil.com.s3-website-us-east-1.amazonaws.com/' do %>
        About Author
        <i class="glyphicon glyphicon-user"></i>
        <% end %>
      </span>
    </p>

</div>



