<div>
  <%=form_tag(search_path, method: "get", id: "search-form") do %>
    <%= text_field_tag :search, nil, placeholder: "Search Baked Noms" %>
    <%= submit_tag "Search", name: nil %> 
  <% end %>
  
</div>

<!-- add action that shows "There are no Baked Noms that fit that description" if there is a blank or worong query search -->